TZ=America/Sao_Paulo

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_QUEUE_NAME=desafio_queue

GRAYLOG_PASSWORD_SECRET=04JbHxhNNJGhKCGxFSz7OgpaiIqOlNEUylYf3GuqP8KPsXLspIZSQ7zP18vnf5VVSMzw9mlw8LGQuuLtOXsrmdF5EUnySg84
GRAYLOG_ROOT_PASSWORD_SHA2=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
GRAYLOG_HTTP_EXTERNAL_URI=http://127.0.0.1:9000/
GRAYLOG_WEB_ENDPOINT_URI=http://127.0.0.1:9000/api
GRAYLOG_ROOT_TIMEZONE=America/Sao_Paulo

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=desafio_local
PGDATA=/data/postgres

PGADMIN_DEFAULT_EMAIL=admin@admin.com.br
PGADMIN_DEFAULT_PASSWORD=admin