TZ=America/Sao_Paulo

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_QUEUE_NAME=desafio_queue

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=desafio_local
PGDATA=/data/postgres

PGADMIN_DEFAULT_EMAIL=admin@admin.com.br
PGADMIN_DEFAULT_PASSWORD=admin